<!doctype html>
<html>
  <head>
    <title>About <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=shopName%></h1>
    <p>This is an online forum where you will be able to search post issues related to physical computer parts and software issues and others will be able to help solve them by replying to you. THere will be 2 sections a Software section and a Component section. There is also a technology news section where we snippet news articles from other wbesites. </p>
  </body>
</html>
