<!doctype html>
<html>
  <head>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%>: Add a Hardware Issue</h1>
    <form method="POST" action="/hardwareIssueadded">
        <p>Title: <input id="title" type="text" name="title" value="" /></p>
        <p>Issue: <input id="issue" type="text" name="issue" value="" /></p>
        <input type="submit" value="Add Post" />
      </form>
  </body>
</html>
