<!doctype html>
<html>
  <head>
    <title>Welcome to <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css"/>
  </head>
  <body>
    <h1>Welcome to <%=shopName%></h1>
    <p><a href="about">About <%=shopName%></a></p>
    <p><a href="search">Search for Any Issues</a></p>
    <p><a href="register">Register with us</a></p>
    <!-- <p><a href="addhardwareissue">Add a Hardware Issue</a></p> -->
    <!-- <p><a href="addsoftwareissue">Add a Hardware Issue</a></p> -->
    <p><a href="listSI"> List of Current Software Issue</a></p>
    <p><a href="listHI"> List of Current Hardware Issue</a></p>
    <p><a href="bargainbooks"> Cheap books</a></p>
    <p><a href="login"> Log into your account!</a></p>
    <p><a href="logout"> Log Out!</a></p>
    <p><a href="removeuser"> Remove a User</a></p>
    <p><a href="GamesAPI"> Check out some of these free games for PC!</a></p>
  </body>
</html>
