<!doctype html>
<html>
  <head>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=shopName%> </h1>
    <h2>Here are the current Hardware Issue posts:</h2>
    <ul>
      <% PostedHI.forEach(function(hardware) { %>
        <li><%= hardware.title %>, <%= hardware.issue%> </li>
      <% }) %>
    </ul>
    <p><a href="addhardwareissue">Add a Hardware Issue</a></p>
    </body>
</html>
