<html>
  <head>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Remove a user for <%=shopName%></h1>
    <form method="POST" action="/userremoved">
        <p>Username: <input id="username" type="text" name="username" value="username" /></p>
        <input type="submit" value="Remove" />
      </form>
  </body>
</html>
